input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: 0;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
  background-color: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: Lato;
}
h3{
    font: 36px 'Yeseva One';
}
a{
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/pattern.jpg);
    min-width: 1600px;
}
header, section, footer{
    width:1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
header .logo{
    padding: 0 260px 0 175px;
    cursor: pointer;
}
.headerSocial_links{
    padding-right: 175px;
    width: 90px;
    display: flex;
    justify-content: space-around;
    font-size: 21px;
}
.headerSocial_links a{
    color: #e6b52c;
}
.divider{
    margin: 24px 0 30px;
}
/*Main styles*/
h1, h1 a, h1 a:focus, h1 a:hover{
    text-transform: uppercase;
    font: 36px 'Yeseva One';
    color: white;
}

nav{
    width: 740px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    height: 107px;
    border-top: 3px solid transparent;
    padding: 0 12px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
nav a{
    text-transform: capitalize;
    font-family: 'Gentium Book Basic';
    font-size: 21px;
}
nav li:hover{
    border-top: 3px solid #ccc9be; 
}
header{
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    height: 110px;
}
/*Right_ingredients*/
.secRight_ingredients{
    padding: 240px 0 142px;
    background-image: url(../img/Bg1.jpg);
    background-size: cover;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 285px;
    padding-right: 285px;
}
.secRight_ingredients h2{
    font-size: 90px;
    font-family: 'Yeseva One';
    text-transform: lowercase;
}
.secRight_ingredients h2:after{
    width: 100%;
    height: 45px;
    content: "";
    background: url(../img/Decoration.png) no-repeat center center;
    display: block;
    margin-top: 20px;
}
.secRight_ingredients--button{
    display: flex;
}
.secRight_ingredients--button div{
    text-transform: uppercase;
    cursor: pointer;
    padding: 23px 52px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color:rgba(255, 255, 255, 0.3);
    margin: 32px 5px;
}
.secRight_ingredients--button a{
    color: white;
}
.secRight_ingredients--button a:visited{
    color: white;
}
.secRight_ingredients--button div:hover{
    border: 1px solid black;
    color: white;
    background-color:rgba(0, 0, 0, 0.7);
}
/*Right_food*/
.secRight_food{
    padding: 100px 215px 40px;

}
.secRight_food--note{
    padding: 62px 690px 0 0;
    background-image: url(../img/dish.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    font-size: 16px;
}
.secRight_food--note > p{
    padding-bottom: 32px;
}
.secRight_food--note h3{
    color: #cc9900;
}
.secRight_food--note h3:after{
    width: 100%;
    height: 30px;
    content: "";
    background: url(../img/Divider.png) no-repeat center center;
    display: block;
    padding: 20px 0 32px;
}
.secRight_food--img{
    padding-left: 70px;
}
/*Section 3*/
.secFine_ingredients{
    background-image: url(../img/Bg2.jpg);
    background-size: cover;
    color: white;
    padding: 100px 100px 100px 815px;
}
.secFine_ingredients--note{
    padding: 85px 70px 78px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
}
.secFine_ingredients--note h3:after{
    width: 100%;
    height: 30px;
    content: "";
    background: url(../img/Divider2.png) no-repeat center center;
    display: block;
    padding: 20px 0 32px;
}
.secFine_ingredients--img{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}
.secFine_ingredients--img img{
    border-radius: 100px;
    border: 5px solid rgba(255, 255, 255, 0.1);
}
/*Section 4*/
.secMenu{
    padding: 100px 285px;
    text-align: center;
    justify-content: space-between;
}
.secMenu h3{
    color: #cc9900;
}
.secMenu h3:after{
    width: 100%;
    height: 30px;
    content: "";
    background: url(../img/Divider.png) no-repeat center center;
    display: block;
    padding: 20px 0 32px;
}
.sheetMenu{
    width: 430px;
}
.infoMenu{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(204,153,0, 0.3);
}
.infoMenu div:first-child{
    width: 70%;
    text-align: left;
}
.infoMenu div:last-child{
    width: 30%;
    text-align: right;
}
.infoMenu h4{
    font: 21px  'Yeseva One';
    color: #cc9900;
}
.sheetMenu p{
    margin-top: 5px;
    text-align: left;
}
.posSheet{
    margin-bottom: 5px;
    padding: 5px
}
.posSheet.specialMenu{
    margin-top: 0;
}
.specialMenu{
    border: 1px solid rgba(204,153,0, 0.3);
}
.labelMenu{
    text-align: right;
}
.labelMenu span{
    background-color: rgba(204,153,0, 0.7);
    padding: 0 5px;
    color: white;
    font-size: 14px;
}
section:nth-child(5) > div:nth-child(1) > div:nth-child(2), section:nth-child(5) > div:nth-child(2) > div:nth-child(2){
    margin-top: 70px;
}
/*Section 5*/
.secGuest_rev{
    background-image: url(../img/Bg3.jpg);
    background-size: cover;
    color: #dde0df;
    text-align: center;
    padding: 100px 392px 160px;
}
.secGuest_rev > div{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 85px 70px 100px;
}
.secGuest_rev p{
    font: bold 25px 'Gentium Book Basic';
    line-height: 1.8;
}
.secGuest_rev h6{
    font-size: 18px;
    margin-top: 45px;
}
/*Section 6*/
.secBook_a_table{
    justify-content: space-between;
    text-align: center;
    padding: 40px 285px 100px 215px;
    color: #4c4c4c;
}
.secBook_a_table--bookForm h3{
    color: #cc9900;
}
.secBook_a_table--bookForm h3:after{
    width: 100%;
    height: 30px;
    content: "";
    background: url(../img/Divider.png) no-repeat center center;
    display: block;
    padding: 20px 0 32px;
}
.secBook_a_table--bookForm p{
    margin-bottom: 48px;
}
.secBook_a_table--bookForm .rowInput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.secBook_a_table--bookForm .colInput{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.secBook_a_table--bookForm input{
    width: 200px;
    height: 38px;
    font: italic 16px 'Open Sans';
    color: #7c7c7c;
    border: 1px solid #7c7c7c;
    padding-left: 5px;
}
.secBook_a_table--bookForm input:focus{
    border-color: #c9a131;
    outline-color: none;
}
.secBook_a_table--bookForm label{
    font: bold 14px 'Open Sans';
    color: #c9a131;
}
.secBook_a_table--bookForm input[type="submit"]{
    background-color: #d7a21d;
    border: 1px solid #d7a21d;
    cursor: pointer;
    font: inherit;
    color: white;
    margin: 0 auto;
}

.secBook_a_table--bookForm input[type="submit"]:hover, .secBook_a_table--bookForm input[type="submit"]:focus{
    background-color: white;
    color: #d7a21d;
    outline-color: transparent;
}

/*Footer*/
footer{
    background-color: #121212;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 52px 215px 72px;
}
footer a{
    color: white;
}
footer h5{
    font: 21px 'Yeseva One';
}
footer p{
    font-family: 'Open Sans';
}
footer img{
    margin: 21px 0;
}
.secFooter--openingHours > div{
    margin-top: 38px;
}
.secFooter--ourLocation > div{
    margin-top: 38px;
}



/*Input Date*/
.superDate{
    position: relative;
}
.iconDate{
    position: absolute;
    width: 26%!important;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}
.superDate i{
    position: absolute;
    right: 5px;
    top: 12px;
}

